.todo-btn-edit {
  background-color: inherit;
  color: rgb(32, 193, 62);
  border: none;
  margin-right: 8px;
  font-size: 24px;
  cursor: pointer;
}
ul .todo-list {
  max-width: 800px;
}

.list-btn-reset,
.todo-btn-reset {
  background-color: inherit;
  color: rgb(226, 31, 31);

  border: none;
  font-size: 24px;
  cursor: pointer;
}
